/CDS/nbproject/private/
/CDS/Configuration/nbproject/private/
/CDS/build/
/CDS/Configuration/build/
/CDS/Map/build/
/CDS/Map/nbproject/private/
/CDS/MapParameters/build/
/CDS/MyAPI/nbproject/private/
/CDS/API/build/